<p>header works!</p>
<nav class="nav">
  <ul>
    <li>
      <a routerLinkActive="active" routerLink="home" class="nav-link">home</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="resume" class="nav-link"
        >resume</a
      >
    </li>
    <li>
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="projects"
        class="nav-link"
        >projects</a
      >
      <ul>
        <li>
          <a
            routerLinkActive="active"
            [routerLink]="['projects', 1]"
            [routerLinkActiveOptions]="{ exact: true }"
            >project 1
          </a>
        </li>
        <li>
          <a
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            [routerLink]="['/projects', 2]"
          >
            project 2</a
          >
        </li>
        <li>
          <a
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="projects/3"
          >
            project 3</a
          >
        </li>
        <li>
          <a
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            [routerLink]="'project'"
            [queryParams]="{ id: 4 }"
          >
            project 4
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="contact" class="nav-link"
        >contact
      </a>
    </li>
    <li>
      <a
        routerLinkActive="active"
        routerLink="project"
        class="nav-link"
        [queryParams]="{ id: 10 }"
        >about us
      </a>
    </li>
  </ul>
</nav>
